/*Link to our internal fonts*/
@font-face {
  font-family: "VisitDenmark";
  src: url('./font/VisitDenmark-Bold.otf');
  src: url('./font/VisitDenmark-ExtraBold.otf');
  src: url('./font/VisitDenmark-Medium.otf');
  src: url('./font/VisitDenmark-Outline-Medium.otf');
  src: url('./font/VisitDenmark-Outline-Regular.otf');
  src: url('./font/VisitDenmark-Regular.otf');
  src: url('./font/VisitDenmark-SemiBold.otf');
}

body{
  font-family: VisitDenmark;
  
}

nav {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  font-size: 8px;
}

.all-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.navlink {
  padding: 12px;
  text-decoration: none;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}


.points-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  flex-direction: row;
  flex-wrap: nowrap;

}

.header-container{
  display: flex;
  justify-content: space-between;
}

.meter { 
  height: 20px;  
  position: relative;
  background: #555;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}