/*Link to our internal fonts*/
@font-face {
  font-family: "VisitDenmark";
  src: url('./font/VisitDenmark-Bold.otf');
  src: url('./font/VisitDenmark-ExtraBold.otf');
  src: url('./font/VisitDenmark-Medium.otf');
  src: url('./font/VisitDenmark-Outline-Medium.otf');
  src: url('./font/VisitDenmark-Outline-Regular.otf');
  src: url('./font/VisitDenmark-Regular.otf');
  src: url('./font/VisitDenmark-SemiBold.otf');
}

div{
  font-family: VisitDenmark;
}