/*Link to our internal fonts*/
@font-face {
  font-family: "VisitDenmark";
  src: url('./font/VisitDenmark-Bold.otf');
  src: url('./font/VisitDenmark-ExtraBold.otf');
  src: url('./font/VisitDenmark-Medium.otf');
  src: url('./font/VisitDenmark-Outline-Medium.otf');
  src: url('./font/VisitDenmark-Outline-Regular.otf');
  src: url('./font/VisitDenmark-Regular.otf');
  src: url('./font/VisitDenmark-SemiBold.otf');
}

body{
  font-family: VisitDenmark;
  
}

nav {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  font-size: 8px;
}

.all-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.navlink {
  padding: 12px;
  text-decoration: none;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}


.points-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  flex-direction: row;
  flex-wrap: nowrap;

}

.header-container{
  display: flex;
  justify-content: space-between;
}

.discount-container{
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

.card{
  padding: 15px;
  border: 10px;
  display: flex;
  gap: 30px;
  margin: 5px;
  border: 1px solid black;
  font-size: 11px;
  width: 150px;
  height: 70px;
  background-color:rgb(51, 51, 138);
}

.card-carousel{
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow: auto;
  white-space: nowrap;
  overflow-x: auto;

}

.card-carousel::-webkit-scrollbar {
  display: none;
}